<!DOCTYPE html>
<html>

<head>
    <title>Bit Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='web_dotpad.js') }}"></script>
</head>

<body>

    <header>

        
        <h1>Emotion</h1>


        <div class="header-right">


            <!--
        <button class="h_button" width="100%" height="100%" id="s3">English play</button>
        <button class="h_button" width="100%" height="100%" id="s2">Korea play</button>

        <button class="h_button" width="100%" height="100%" id="s3">test</button> 

        <button class="h_button" width="100%" height="100%" id="s5">test</button>

    -->

            <button class="h_button" width="100%" height="100%" id="s4"> start </button>


        </div>


        <div class="header-right">
            <!-- 오른쪽으로 정렬되길 원하는 요소들 -->
            <div class="h_button" id="connectbutton">Connect</div>

            <div class="h_button" id="disconnectbutton">Disconnect</div>
        </div>

    </header>

</body>


 <!--도트로 그래픽 표현 예정-->
 <div class="container">
    <!-- 도트 그래픽 캔버스 -->
    <canvas id="dotCanvas" width="1200" height="800" style="border: 1px solid black; display: block; margin: 0 auto;"></canvas>
    <!-- 버튼 그룹 -->
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
    <div class="button-group">
        <button class="a_button" id="A_l">
            <img src=".\static\button_png\L.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button>
    
        <button class="dot_button"  id="f1">
            <img src=".\static\button_png\F.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button>
        <button class="dot_button" id="f2">
            <img src=".\static\button_png\F.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button>
        <button class="dot_button" id="f3">
            <img src=".\static\button_png\F.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button> 
        <button class="dot_button" id="f4">
            <img src=".\static\button_png\F.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button>
    
        <button class="a_button" id="A_r">
            <img src=".\static\button_png\R.png" alt="F1 Button" style="width: 100%; height: 100%;">
        </button>
        <div></div>
        <canvas id="dotCanvas2" width=1000px" height="100px"></canvas>
    </div>
</div>
</div>

   
   

</div>
   

   


    
    

    


    
</html>