<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Quiz</title>
    <script src="/static/start.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script type="module" src="{{ url_for('static', filename='DotPad_CSUNdemo_chart2.js') }}"></script>
</head>

<header>

        <img src="{{ url_for('static', filename='logo.png') }}" style="width:auto; height: 35px;" title="랩실로고" />
        <h1>Sports Broadcasting On A Refreshable Pin Array</h1>


        <div class="header-right">


            <!--
        <button class="h_button" width="100%" height="100%" id="s3">English play</button>
        <button class="h_button" width="100%" height="100%" id="s2">Korea play</button>

        <button class="h_button" width="100%" height="100%" id="s3">test</button> 

        <button class="h_button" width="100%" height="100%" id="s5">test</button>

    -->

            <button class="h_button" width="100%" height="100%" id="s4">Tutorial</button>





        </div>


        <div class="header-right">
            <!-- 오른쪽으로 정렬되길 원하는 요소들 -->
            <div class="h_button" id="connectbutton">Connect</div>

            <div class="h_button" id="disconnectbutton">Disconnect</div>
        </div>

    </header>
<body>

    



<h1>
<div class="h_button" id="s2">Dot Pad JSON</div>
</h1> 
<br>

현재 진행중인 퀴즈 번호는: 
<h2>
    <p id="number"></p>
</h2>

</form>
</body>
</html>
